:root {
  font-size: 14px;
}

.login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background: url("/public/images/login-bg.png") no-repeat;
  background-size: cover;
}

.login__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: clamp(1rem, 3vw, 3rem);
  width: clamp(280px, 70vw, 600px);

  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
}

.login__home-url {
  width: max-content;
  display: flex;
  align-items: center;
  border: 2px solid;
  border-radius: 30px;
  padding: .4rem var(--spacing-medium) var(--spacing-small);
}

.login__home-url box-icon {
  fill: #fff;
}

.login__form--heading {
  text-align: center;
  margin-bottom: var(--spacing-medium);
}

.login__form--heading h1 {
  font-size: 3.5rem;
}

.login__form--heading h2 {
  font-size: 1rem;
}

.login__input {
  width: 100%;
  padding: .5rem var(--spacing-small);
}

.login__input-wrapper.invalid .login__input {
  border-color: #ff0000;
}

.login__input-wrapper.invalid > span {
  color: red;
}

.login__input-wrapper {
  position: relative;
}

.login__email, .login__password {
  /* Change color to hex */
  color: var(--grey);
  background-color: transparent;
  font-size: 0.9rem;
  padding: 0.5rem;
  position: absolute;
  border-radius: 5px;
  top: 60%;
  left: calc(var(--spacing-small) - 0.2rem);
  transform: translateY(-60%);
  transition: 150ms ease-in-out;
}

.login__input:focus-visible {
  /*  : Add color */
  border: 1px solid;
}

.login__email.active, .login__password.active {
  background-color: #ffffff;
  left: var(--spacing-small);
  top: 0;
}

.login__btn {
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
  color: #ffffff;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(58,58,198,1) 0%, rgba(0,176,212,1) 100%);
  margin-bottom: var(--spacing-medium);
}

.login__register-invite .link {
  display: block;
  width: max-content;
  font-size: 1.1rem;
  text-decoration: none;
  border: 2px solid;
  padding: .4rem 1rem .5rem;
  margin-top: var(--spacing-medium);
  border-radius: 30px;
} 

.login__register-invite .link,
.login__home-url,
.login__home-url box-icon {
  transition: 200ms ease-in-out;
}

.login__register-invite .link:hover,
.login__home-url:hover {
  color: var(--dark-primary-color);
  background-color: #fff;
  border-color: #fff;
}

.login__home-url:hover box-icon {
  fill: var(--dark-primary-color);
}

