:root {
  font-size: 14px;
}

.login {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.login__left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: var(--spacing-large);
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.login__home-url {
  width: max-content;
  display: flex;
  align-items: center;
  color: var(--grey);
  border: 1px solid var(--light-grey);
  border-radius: 30px;
  padding: .4rem var(--spacing-medium) var(--spacing-small);
}

.login__form--heading {
  text-align: center;
  margin-bottom: var(--spacing-medium);
}

.login__form--heading h1 {
  font-size: 1.5rem;
}

.login__form--heading h2 {
  font-size: 1rem;
}

.login__input {
  width: 100%;
  padding: .5rem var(--spacing-small);
}

.login__input-wrapper.invalid .login__input {
  border-color: #ff0000;
}

.login__input-wrapper.invalid > span {
  color: red;
}

.login__image {
  display: none;
  width: 100%;
  height: 100vh;
  background: url("/public/images/login-bg.png") no-repeat;
  background-size: cover;
}

.login__input-wrapper {
  position: relative;
}

.login__email, .login__password {
  /* Change color to hex */
  color: var(--grey);
  background-color: transparent;
  font-size: .9rem;
  padding: .1rem;
  position: absolute;
  top: 52%;
  left: calc(var(--spacing-small) - 0.2rem);
  transform: translateY(-60%);
  transition: 150ms ease-in-out;
}

.login__input:focus-visible {
  /*  : Add color */
  border: 1px solid;
}

.login__email.active, .login__password.active {
  background-color: #ffffff;
  font-size: .8rem;
  left: var(--spacing-small);
  top: 0;
}

.login__btn {
  color: #ffffff;
  margin-top: var(--spacing-medium);
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(58,58,198,1) 0%, rgba(0,176,212,1) 100%);
}

.login__register-invite .link {
  display: block;
  width: max-content;
  color: var(--primary-color);
  font-size: 1.1rem;
  text-decoration: none;
  border: 1px solid;
  padding: .4rem 1rem .5rem;
  margin-top: var(--spacing-medium);
  border-radius: 30px;
} 

@media (min-width: 500px) {
  .login {
    grid-template-columns: minmax(250px, 1fr) 2fr;
  }

  .login__image {
    display: block;
  }
}

