.register {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  background: url("/public/images/login-bg.png") no-repeat;
  background-size: cover;
}

.register__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: clamp(1rem, 3vw, 3rem);
  width: clamp(280px, 70vw, 600px);

  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.register__home-url {
  display: flex;
  width: max-content;
  align-items: center;
  border: 2px solid;
  border-radius: 30px;
  padding: .4rem var(--spacing-medium) var(--spacing-small);
}

.register__home-url box-icon {
  fill: #fff;
}

.register__form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
}

.register__form h1 {
  font-size: 3rem;
  text-align: center;
  margin: var(--spacing-small) 0;
}

.register input {
  width: 100%;
  padding: .5rem var(--spacing-small);
}

.register__input-wrapper {
  position: relative;
  height: 30px;
}

.register__input-wrapper.invalid input {
  border-color: #ff0000;
}

.register__input-wrapper.invalid > span {
  color: #ff0000;
}

.register__username, 
.register__email,
.register__password,
.register__confirm-password {
  color: var(--grey);
  background-color: transparent;
  font-size: 0.9rem;
  padding: 0.5rem;
  position: absolute;
  border-radius: 5px;
  top: 60%;
  left: calc(var(--spacing-small) - 0.2rem);
  transform: translateY(-60%);
  transition: 150ms ease-in-out;
}

.register__username.active, 
.register__email.active,
.register__password.active,
.register__confirm-password.active {
  background-color: #ffffff;
  top: 0%;
  transform: translateY(-60%);
}

.register .register__btn {
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
  color: #ffffff;
  background: linear-gradient(90deg, rgba(58,58,198,1) 0%, rgba(0,176,212,1) 100%);
  margin-bottom: var(--spacing-medium);
}

.register__login-invite .link {
  display: block;
  width: max-content;
  font-size: 1.1rem;
  text-decoration: none;
  border: 2px solid;
  padding: .4rem 1rem .5rem;
  margin-top: var(--spacing-medium);
  border-radius: 30px;
} 

.register__login-invite .link,
.register__home-url,
.register__home-url box-icon {
  transition: 200ms ease-in-out;
}

.register__login-invite .link:hover,
.register__home-url:hover {
  color: var(--dark-primary-color);
  background-color: #fff;
  border-color: #fff;
}

.register__home-url:hover box-icon {
  fill: var(--dark-primary-color);
}