@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');  

.navbar button {
    background-color: var(--t-r-i-n-a-r-y);
    color: var(--t-e-x-t_-m-a-i-n);
    border: none;
    cursor: pointer;
    height: 35px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: large;
    text-align: center;
}

.navbar button:hover {
    scale: 1.01;
    transition: 0.1s;
}

.navbar button:active {
    scale: 0.99;
    transition: 0.1s;
}

.navbar button:focus {
    outline: none;
}

.logo {
    scale: 0.8;
    color: var(--t-e-x-t_-m-a-i-n)
}

.user-buttons {
    display: flex;

    button {
        font-family: 'Marko One';
        width: 100px;
        color: var(--t-e-x-t_-m-a-i-n);
        margin-left: 10px;
    }
}

.navbar {
    background-color: var(--f-i-f-t-h);
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar.not-home {
    background-color: var(--s-e-v-e-n-t-h); /* Adjust the variable name as necessary */
  }

.navbar-inner {
    font-family: 'Marko One';
    display: flex;
    width: 100%;
    max-width: 94%;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo-div {
    display: flex;
    align-items: center;
    height: 100%;
}
