.suggested-words {
  width: 100%;
  flex: 1 1 400px;

  background-color: #fff;
  border-radius: 10px;
  border: 1px solid var(--light-grey);
  margin-bottom: auto;

  padding: var(--spacing-large);
  position: relative;
}

@media (max-width: 800px) {
  .suggested-words {
    padding: var(--spacing-medium);
  }
}

.suggested-words > h2 {
  font-size: 1.3rem;
  margin-bottom: var(--spacing-small);
}

.suggested-words > h3 {
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--grey);
  margin-bottom: var(--spacing-medium);
}

.word-list {
  display: flex;
  flex-direction: column;
}

.word-list > .word {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  padding: var(--spacing-small) 0;
  border-bottom: 1px solid var(--light-grey);
}

.word-list > *:first-child {
  border-top: 1px solid var(--light-grey);
}

.word box-icon {
  display: grid;
  place-items: center;
  font-size: 0;
  border: 1px solid var(--light-grey);
  width: 29px;
  height: 29px;
  border-radius: 50%;
  cursor: pointer;
}

.word.disabled box-icon {
  cursor: default;
  animation: fading 800ms ease-in-out infinite;
}

@keyframes fading {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}

.word .practice-btn {
  background-color: transparent;
  padding: 0.4rem 0.7rem;
  color: var(--primary-color);
  border-radius: 30px;
  border: 1px solid;
  transition: 300ms ease-in-out;
  margin-left: auto;
}

.word .practice-btn:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.word .practice-btn:disabled:hover {
  color: var(--primary-color);
  background-color: #fff;
}

.refresh-btn {
  width: 40px;
  height: 40px;
  border: 2px solid var(--primary-color);
  background-color: transparent;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.refresh-btn.loading {
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

.suggested-words .word-skeleton {
  display: block;
  width: 100%;
  height: 47px;
  border-bottom: 1px solid var(--light-grey);
  display: flex;
  align-items: center;
}

.word-skeleton .rectangle,
.word-skeleton .circle,
.word-skeleton .button  
{
  display: inline-block;
  height: 25px;
  border-radius: 5px;

  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 2s infinite;
}

.word-skeleton .rectangle {
  flex-grow: 1;
  animation-delay: 280ms;
}

.word-skeleton .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.3rem;
}

.word-skeleton .button {
  width: 72px;
  height: 30px;
  border-radius: 30px;
  margin-left: 0.3rem;
  animation-delay: 280ms;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
