.loading-animation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 10;

  display: grid;
  place-items: center;
  transition: opacity 400ms ease-in-out;
  overflow: hidden;
  transition-delay: 700ms;
}

.loading-animation.hide {
  opacity: 0;
}

.loading-animation.slide-up {
  transform: translateY(-100%);
}

.loading-animation video {
  width: 100%;
  max-width: 400px;
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.video-wrapper {
  position: relative;
}

.video-wrapper span {
  display: inline-block;
  width: 100%;
  height: 30px;
  background-color: #fff;
  position: relative;
  top: -30px;
}