.pronounce {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  max-width: 400px;
}

.pronounce__text-to-speech {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  padding: var(--spacing-medium);
  align-items: flex-start;
}

.pronounce__word-grid {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

@media (min-width: 400px) {
  .pronounce__word-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .pronounce__dropdown-wrapper {
    text-align: right;
    margin-right: var(--spacing-medium);
  }
}

.pronounce__word {
  text-transform: capitalize;
  margin-right: var(--spacing-large);
  font-size: 1.4rem;
}

.pronounce__dropdown-wrapper {
  position: relative;
}

.pronounce__dropdown-btn {
  position: relative;
  border: none;
  background-color: #fff;
  margin: var(--spacing-small) 0;
}

.pronounce__dropdown-btn svg {
  width: 10px;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  fill: rgb(25, 25, 25);
}

.pronounce__dropdown-content {
  position: absolute;
  width: max-content;
  top: 5px;
  left: -5px;
  background-color: #fff;
  z-index: 2;

  display: none;
  flex-direction: column;

  padding: var(--spacing-medium) 0;

  border: 1px solid var(--light-grey);
  border-radius: 5px;
}

.pronounce__dropdown-content.active {
  display: flex;
}

.pronounce__dropdown-content svg {
  visibility: hidden;
  position: absolute;
  width: 20px;
  top: 3px;
  left: 2px;
}

.pronounce__dropdown-content button {
  position: relative;
  border: none;
  background-color: #fff;
  text-align: left;
  padding: var(--spacing-small) var(--spacing-medium);
  padding-left: 22px;
  transition: background-color 100ms ease-in-out;
}

.pronounce__dropdown-content button:hover {
  background-color: var(--light-grey);
}

.pronounce__dropdown-content button.active {
  background-color: #fff;
  font-weight: bold;
}

.pronounce__dropdown-content button.active svg {
  visibility: visible;
}

.pronounce__toggle-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

.pronounce__toggle-btn > span {
  position: relative;
  bottom: 1px;
}

.pronounce__practice {
  border-top: 1px solid var(--light-grey);
  padding: var(--spacing-medium);
}

.pronounce__layman-pronunciation {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.pronounce__dot {
  position: relative;
  bottom: 3px;
  margin: 0 5px;
}

.pronounce__flex > .pronounce__icon,
.pronounce__layman-pronunciation > .pronounce__icon {
  margin-left: var(--spacing-small);
}

.pronounce__icon {
  font-size: 0rem;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid var(--light-grey);
  background-color: transparent;

  display: inline-block;
}

.pronounce__practice > .pronounce__icon {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 30px;
  width: 80px;
  transition: width 200ms ease-in-out;
}

.pronounce__practice .flex {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

.expandable-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: all 400ms;
}

.expandable-wrapper.open {
  grid-template-rows: 1fr;
  margin-bottom: var(--spacing-small);
}

.expandable-content {
  min-height: 0;
  overflow: hidden;
}

.pronounce__result-container {
  display: none;
}

.pronounce__result-container.show, .pronounce__analyzing.show {
  display: block;
}

.pronounce__analyzing {
  display: none;
  min-height: 0;
  position: relative;
  padding: var(--spacing-small) 0;
  margin-left: var(--spacing-small);
}

/* Spinner */

.pronounce__loader {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  margin-left: var(--spacing-small);
  position: absolute;
}
.pronounce__loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

/* End of Spinner */

.pronounce__icon > span {
  font-size: 0.9rem;
}

.pronounce__icon:disabled {
  cursor: default;
  animation: blinking 0.8s linear infinite;
}

.pronounce__result {
  margin: var(--spacing-medium) var(--spacing-small);
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.pronounce__icon.practice {
  width: 96px;
  padding: var(--spacing-small) var(--spacing-medium);
}

.pronounce__icon.practice.is-recording:disabled {
  width: 115px;
  color: black;
  animation: fading 1.2s linear infinite;
}

.pronounce__icon.practice:disabled {
  animation: none;
}

@keyframes blinking {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes fading {
  0% {
    background-color: #307bf314;
  }
  50% {
    background-color: #307bf35a;
  }
  100% {
    background-color: #307bf314;
  }
}