.pronounce {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  margin: auto;
}

@media (min-width: 1100px) {
  .pronounce {
    margin: 0;
  }
}

.pronounce__text-to-speech {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  padding: var(--spacing-medium);
  align-items: flex-start;
}

.pronounce__word {
  text-transform: capitalize;
  font-size: 1.4rem;
}

.pronounce__toggle-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

.pronounce__toggle-btn > span {
  position: relative;
  bottom: 1px;
}

.pronounce__practice {
  border-top: 1px solid var(--light-grey);
  padding: var(--spacing-medium);
}

.pronounce__layman-pronunciation {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.pronounce__dot {
  position: relative;
  bottom: 3px;
  margin: 0 5px;
  color: #000;
}

.pronounce__layman-pronunciation--skeleton {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

.pronounce__layman-pronunciation--skeleton .layman-phonetic {
  width: 100px;
  height: 20px;
  border-radius: 5px;

  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 2s infinite;
}

.pronounce__layman-pronunciation--skeleton .pronounce-word {
  width: 30px;
  height: 30px;
  background-color: var(--light-grey);
  border-radius: 50%;

  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.pronounce__flex > .pronounce__icon,
.pronounce__layman-pronunciation > .pronounce__icon {
  margin-left: var(--spacing-small);
}

.pronounce__icon {
  font-size: 0rem;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid var(--light-grey);
  background-color: transparent;

  display: inline-block;
}

.pronounce__practice > .pronounce__icon {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 30px;
  width: 80px;
  transition: width 200ms ease-in-out;
}

.pronounce__practice .flex {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

.expandable-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: all 400ms;
}

.expandable-wrapper.open {
  grid-template-rows: 1fr;
  margin-bottom: var(--spacing-small);
}

.expandable-content {
  min-height: 0;
  overflow: hidden;
}

.pronounce__result-container {
  display: none;
  overflow: hidden;
}

.pronounce__result-container .flex-right {
  color: #00d100;
  margin-left: auto;
  font-style: italic;
  font-size: 1rem;
}

.pronounce__result-container.show, .pronounce__analyzing.show {
  display: block;
}

.pronounce__analyzing {
  display: none;
  min-height: 0;
  position: relative;
  padding: var(--spacing-small) 0;
  margin-left: var(--spacing-small);
}

.pronounce__spinner-container {
  position: relative;
  display: flex;
  gap: var(--spacing-small);
}

.pronounce__spinner {
  width: 17px;
  height: 17px;
  border: 2px solid var(--primary-color);
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.pronounce__icon > span {
  font-size: 0.9rem;
}

.pronounce__icon:disabled {
  cursor: default;
  animation: blinking 0.8s linear infinite;
}

.pronounce__result {
  overflow: hidden;
  display: block;
}

  .pronounce__result > span {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    margin: var(--spacing-small) 0;
  }

  .pronounce__result > p {
    font-size: 1rem;
  }

.pronounce__feedback--wrapper {
  display: flex;
  width: 100%;
  overflow-y: auto;
}

.pronounce__feedback {
  margin: var(--spacing-medium) 0;
  margin-right: var(--spacing-small);
  padding: .8rem;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  min-width: 200px;
}
  .pronounce__feedback h3 {
    font-size: .9rem;
    margin-bottom: var(--spacing-small);
  }

  .pronounce__feedback p {
    font-size: .85rem;
  }


.pronounce__icon.practice {
  width: 96px;
  padding: var(--spacing-small) var(--spacing-medium);
}

.pronounce__icon.practice.is-recording:disabled {
  width: 115px;
  color: black;
  animation: fading 1.2s linear infinite;
}

.pronounce__icon.practice:disabled {
  animation: none;
}

@keyframes blinking {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes fading {
  0% {
    background-color: #307bf314;
  }
  50% {
    background-color: #307bf35a;
  }
  100% {
    background-color: #307bf314;
  }
}