/* AnalyzeSentences.css */
.analyze-sentences {
  min-height: calc(100vh - 60px);
  padding: var(--spacing-large) var(--spacing-small);
  background: var(--main-background-color);
}

@media (min-width: 400px) {
  .analyze-sentences {
    padding: var(--spacing-large);
  }
}

.analyze-sentences__analyzer {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.analyze-sentences textarea, .textarea {
  font-family: inherit;
  width: 100%;
  height: auto;
  min-height: 150px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: var(--spacing-medium);
  resize: vertical;
}

.textarea > span {
  cursor: pointer;
}

.analyze-sentences textarea:focus {
  border-color: var(--primary-color);
  outline: 1px solid var(--primary-color);
}

.analyze-sentences textarea[readonly]:focus {
  outline: none;
  border-color: var(--light-grey);
}

.analyze-sentences__message {
  color: var(--grey);
  display: flex;
  align-items: flex-start;
  font-style: italic;
  margin-bottom: var(--spacing-medium);
}

.analyze-sentences__btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--spacing-medium);
}

.analyze-sentences__btn-container button {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 30px;
  padding: var(--spacing-small) var(--spacing-medium);
}

.analyze-sentences__btn-container button:disabled {
  opacity: 0.5;
  cursor: default;
}

.analyze-sentences .analyze-sentences__help-btn {
  display: block;
  position: fixed;
  bottom: 10vh;
  right: 5vw;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.analyze-sentences__help-btn > div {
  position: absolute;
  background-color: #fff;
  padding: 0;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.analyze-sentences__help-btn box-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.analyze-sentences audio {
  display: none;
}

.recording-icon {
  width: max-content;
  position: relative;

  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  animation: blink 1s infinite;

  margin-bottom: var(--spacing-small);
  padding: 4px;
  border: 1.5px solid #ff0000;
  border-radius: 3px;
}

.recording-icon > .circle {
  width: 15px;
  height: 15px;
  background-color: #ff0000;
  border-radius: 50%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}





