.analyze-sentences {
  min-height: calc(100vh - 60px);
  padding: var(--spacing-large) var(--spacing-small);
  background: var(--main-background-color);

  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
}

@media (min-width: 400px) {
  .analyze-sentences {
    padding: var(--spacing-large);
  }
}

.analyze-sentences__analyzer {
  width: clamp(250px, 80vw, 600px);
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  display: grid;
  grid-template-areas: 
  "rec-btn"
  "textarea"
  "message"
  "control";
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content max-content;
}

.analyze-sentences textarea, .textarea {
  font-family: inherit;
  width: 100%;
  height: auto;
  min-height: 300px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: var(--spacing-medium);
  resize: vertical;
  grid-area: textarea;
}

.textarea > span {
  cursor: pointer;
}

.analyze-sentences textarea:focus {
  border-color: var(--primary-color);
  outline: 1px solid var(--primary-color);
}

.analyze-sentences textarea[readonly]:focus {
  outline: none;
  border-color: var(--light-grey);
}

.analyze-sentences__message {
  grid-area: message;
  color: var(--grey);
  display: flex;
  align-items: center;
  gap: 0.1rem;
  font-style: italic;
  margin-bottom: var(--spacing-medium);
}

.analyze-sentences__btn-container {
  grid-area: control;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--spacing-small);
}

.analyze-sentences__btn-container button {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 30px;
  padding: var(--spacing-small) var(--spacing-medium);
}

.analyze-sentences__btn-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.analyze-sentences .analyze-sentences_icon {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border: 2px solid var(--primary-color);

  display: grid;
  place-content: center;
}

.analyze-sentences .analyze-sentences_icon > img {
  width: 35px;
  max-width: none;
}

.analyze-sentences_icon.reset {
  border: none;
}

.analyze-sentences_icon.reset:focus {
  transition: 300ms ease-in-out;
  transform: rotate(360deg);
}

.analyze-sentences audio {
  display: none;
}

.recording-icon {
  width: max-content;
  position: relative;

  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  animation: blink 1s infinite;

  margin-bottom: var(--spacing-small);
  padding: 4px;
  border: 1.5px solid #ff0000;
  border-radius: 3px;
}

.recording-icon > .circle {
  width: 15px;
  height: 15px;
  background-color: #ff0000;
  border-radius: 50%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}





