.help-popup {
  background-color: #fff;
  border-radius: 5px;
  margin-top: var(--spacing-medium);
}

.help-popup h1 {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: var(--spacing-medium);
}

.instruction > span {
  color: var(--primary-color);  
}

.instruction {
  font-size: 1.3rem;
  margin-bottom: var(--spacing-small);
}

.instruction p {
  margin-top: 5px;
  font-size: 1rem;
}

.expandable-wrapper {
  display: grid;
  grid-template-rows: 0fr;  
  transition: grid-template-rows 500ms;
}

.expandable-wrapper.open {
  grid-template-rows: 1fr;
  margin-bottom: var(--spacing-small);
}

.expandable-content {
  min-height: 0;
  overflow: hidden;
}
