@import url('https://fonts.googleapis.com/css?family=Marko One');

.frame1 {
  font-family: 'Marko One';
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: var(--f-i-f-t-h);
  justify-content: center;
  align-items: flex-start;
}

.frame2 {
  font-family: 'Marko One';
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--f-i-f-t-h);
  justify-content: center;
  align-items: flex-start;
}

.frame3 {
  font-family: 'Marko One';
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--f-i-f-t-h);
  justify-content: center;
  align-items: flex-start;
}

.frame1 button {
  background-color: var(--t-r-i-n-a-r-y);
  color: var(--t-e-x-t_-m-a-i-n);
  border: none;
  cursor: pointer;
  height: 35px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: large;
  text-align: center;
}

#first-frame {

  display: flex;
  height: calc(100vh - 130px);
  width: 94%;
  border-radius: 20px;
  background-color: var(--f-o-u-r-t-h);
  overflow-x: hidden;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;

  .bgimage {
    scale: 0.9;
  }

  .motto {
    font-size: 5em;
    color: var(--t-e-x-t_-m-a-i-n);
    margin-left: 20px;
  }

  .text-div {
    position: absolute;
    transform: translateX(-50%) translateY(-10%);
    flex-direction: column;
    max-width: 500px;
  }
  .button-div {
    position: absolute;
    transform: translateX(159%) translateY(-25%);
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    button {
      font-family: 'Marko One';
      margin-right: 20px;
      width: 120px;
      height: 40px;
    }
  }
}

.item-content {
  display: flex;
  align-items: center;
}

.done-icon {
  margin-right: 15px;
}

.item {
  margin-top: 20px;
}

.list-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--t-e-x-t_-s-e-c-o-n-d-a-r-y);
}

.done-icon {
  fill: green
}

.content {
  display: flex;
  height: 94vh;
  width: 94%;
  border-radius: 20px;
  background-color: var(--f-o-u-r-t-h);
  overflow-x: hidden;
  box-sizing: border-box;
}