.spinner-container {
  position: relative;
  display: flex;
  gap: var(--spacing-small);
  align-items: center;
  font-size: 1.3rem;
  background-color: #fff;
  padding: var(--spacing-medium);
  border-radius: 5px;
  color: var(--primary-color);
}

.spinner {
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid var(--primary-color);
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
