.chatbot-page {
  min-height: calc(100vh - 60px);
  padding: var(--spacing-large);
  background: var(--main-background-color);
  display: grid;
  grid-template-columns: 1fr;
}

.chatbot {
  width: 100%;
  height: 90%;
  max-width: clamp(280px, 80vw, 700px);
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 10px var(--light-grey);
  padding: var(--spacing-small) var(--spacing-small) 0;

  display: flex;
  flex-direction: column;
}

.messages {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: height 500ms ease-in-out;
}

.input-container {
  width: 100%;
  height: max-content;
  padding: var(--spacing-medium);
  margin-top: var(--spacing-medium);
  border-top: 1px solid var(--light-grey);
  position: relative;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.chatbot-button {
  font-size: 1.1rem;
  padding: 8px 12px;
  background-color:  #fff;
  color: var(--primary-color);
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
}

.chatbot-button:disabled {
  cursor: default;
  opacity: 0.4;
}

.chatbot-button.microphone {
  width: 40px;
  height: 40px;
}

.chatbot-button.icon {
  border-radius: 50%; 
  background-color: var(--primary-color);
  padding: 5px 7px;
}

.chatbot-button {
  transition: opacity 200ms ease-in-out 300ms;
  display: grid;
  place-items: center;
}

.chatbot-button.microphone.active {
  cursor: default;
  animation: fading 1000ms linear infinite;
}

@keyframes fading {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

.chatbot-button.float-right {
  position: absolute;
  height: min-content;
  right: var(--spacing-small);
}

@media (max-width: 550px) {
  .chatbot-page {
    padding: var(--spacing-large) var(--spacing-small);
  }


  .chatbot-button.float-right {
    position: relative;
  }
}