:root {
  --spacing-small: .5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --primary-color: #4285f4;
  --light-primary-color: #e0f7fa;
  --dark-primary-color: #161e5f;
  --light-grey: lightgrey;
  --very-light-grey: rgb(237, 237, 237);
  --grey: #5d5d5d;
  --main-background-color: linear-gradient(to bottom right, #4286f427, #4286f40b, #4286f438);

    /* Color styles */
  --m-a-i-n: rgb(255, 255, 255);
  --s-e-c-o-n-d-a-r-y: rgba(254, 233, 214, 1);
  --t-r-i-n-a-r-y: rgba(255, 211, 171, 1);
  --f-o-u-r-t-h: rgba(255, 232, 199, 1);
  --f-i-f-t-h: rgb(214, 178, 137);
  --t-e-x-t_-m-a-i-n: rgba(101, 77, 59, 1);
  --t-e-x-t_-s-e-c-o-n-d-a-r-y: rgba(66, 60, 51, 1);
  --t-e-x-t_-t-r-i-n-a-r-y: rgba(5, 8, 20, 1);
  --r-e-c-o-r-d-i-n-g: rgba(152, 42, 42, 1);
  --t-e-x-t_-f-o-u-r-t-h: rgba(251, 251, 251, 1);
  --s-i-x-t-h: rgba(185, 214, 182, 1);
  --s-e-v-e-n-t-h: rgb(114, 85, 57);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
}

.btn {
  border: 1px solid;
  border-radius: 3px;
  padding: var(--spacing-small);
  cursor: pointer;
}

input {
  border: 1px solid;
  border-radius: 3px;
}

input:focus-visible {
  outline: none;
}

.link {
  text-decoration: underline;
}

.hidden {
  display: none !important;
}

.box-shadow {
  box-shadow: 2px 2px 2px var(--light-grey);
}

 /* Webkit (Chrome, Safari) */
 ::-webkit-scrollbar {
  width: 8px; /* You can adjust the width as needed */
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--light-grey); /* Color of the thumb */

}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
  border-radius: 10px; /* Radius of the track */
  overflow: hidden;
}

Navbar {
  height: 55px;
}
