.display-steps {
    max-width: 500px;
    margin: auto;
    padding: 0 var(--spacing-medium) 3rem;
    display: flex;
    background-color: transparent;

    align-items: center;
}

 .step-circle {
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    margin: 0 5px;
    height: 28px;
    width: 28px;
    color: var(--primary-color);
    transition: 300ms ease-in-out;
    font-weight: bold;
    position: relative;
    display: grid;
    place-items: center;
 }

 .step-circle.finished {
    transition-delay: 300ms;
    background-color: var(--primary-color);
    color: #fff;
 }

 .step-circle::after {
   position: absolute;
   top: 110%;
   left: -57%;
   width: 53px;
   text-align: center;
   color: var(--primary-color);
   content: attr(data-step);
 }

 .line {
    position: relative;
    width: 70px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--light-grey);
    overflow: hidden;
   }

 @media (min-width: 400px) {
   .line {
      width: 100px;
   }
 }

  .line > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--primary-color);
    transition: 300ms ease-in-out;
  }

  .line.finished > span {
    width: 100%;
  }