.homepage-wrapper {
  font-size: 0.9rem;
  display: flex;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  gap: 2rem;
  min-height: calc(100vh - 60px);
  padding: var(--spacing-medium);
  background: var(--main-background-color);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 800px) {
  .homepage-wrapper {
    grid-template-columns: 1fr 1fr;
    padding: var(--spacing-large);
  }
}

.homepage {
  height: max-content;
}

.homepage__search-word {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 5px;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-bottom: var(--spacing-medium);
  max-width: 450px;
}

@media (min-width: 1100px) {
  .homepage__search-word { 
    margin: 0;
    margin-bottom: var(--spacing-medium);
  }
}

.homepage__input {
  padding: 5px var(--spacing-medium);
  border: 1px solid;
  border-radius: 30px;
  height: 100%;
  border-color: var(--light-grey);
  min-width: 160px;
}

.homepage__input:focus {
  border: 1px solid var(--primary-color);
}

.homepage__btn {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: 30px;
}